*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/local
/log/*
/**/*.log
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
/rerun.txt
/pickle-email-*.html
/.project
/.setting
/.idea
/config/initializers/secret_token.rb
/Gemfile.lock
/thin.sh
/test
/db/schema.rb
/Gemfile.lock
/config/database.yml
